.fondo{
    background-color: orange;
    background-image: linear-gradient(red,orange);
    background-image: linear-gradient(to top,green,red);
    background-image: linear-gradient(to bottom,white,black);
    /* background-image: linear-gradient(to right,white,black); */
    background-image: linear-gradient(55deg,white,black);
    background-image: linear-gradient(to right,white 0,5%,black,grey,darkred,orange);
    height: 100vh;
}

.contenedor{
    height: auto;
    width: 900px;
    background-color: violet;
    font-size: 40px;
    line-height: 200px;
    text-align: center;    
}

.c1:hover{
    background-color: red;
  
}

.c2{
    background-color: green;
    transform: rotateX(50deg);
}

.c3{
    background-color: blue;
    transform: rotateY(50deg);
}