@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

body{
    background-color: black;
}
main{
    background-color: grey;
}
main h1 {
    color: yellow;
}

#div2 {
    background-color: greenyellow;
}
main h3 {
    color: hotpink;
}

p{
    color: darkorange;
    border: 10px solid blue;
    font-family: 'Comforter Brush', cursive;
}
.listadesordenada {
    color: darkorange;
}

#lorembrush {
    font-family: 'Comforter Brush', cursive;
    word-spacing: 5px;
    text-decoration: overline;
    line-height: 25px;
}
