h2{
    display: block;
    background-color: red;
    height: 100px;
    width: 200px;
}

span{
    display: inline-block;
    background-color: blue;
    height: 100px;
    width: 200px;
}

div{
    position:fixed;
    top: 400px;;
    left: 300px;
  
}